<div class="page" id ="mainPage" style="padding-right: 25px">
    <details-title></details-title>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':true,'ui-tabs-active': true}"><a href="javascript:dhis2.leftBar.showAnimated()" class="ui-tabs-anchor" style="cursor: pointer">General Information</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':false,'ui-tabs-active': false}"><a href="javascript:dhis2.leftBar.showAnimated()" class="ui-tabs-anchor" ng-click="setTab(2)" style="cursor: pointer">State</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':false,'ui-tabs-active': false}"><a href="javascript:dhis2.leftBar.showAnimated()" class="ui-tabs-anchor" ng-click="setTab(3)" style="cursor: pointer">Buildings</a></li>
	</ul>

    <div ng-init='basicInfoCtrl.init()'>
    	<div ng-show ='isLoading'><img src ='/images/ajax-loader-circle.gif' ></div>
		<div ng-hide = 'isLoading' class='container-fluid' style='margin-left:15px;'>
			<div class='row'>
				<div class="col-sm-4 info-box box-small">
					<p class="header"> General information <img ng-hide ='isGuest()' src = "img/edit2.png" height="18" width="18" style="float: right;cursor:pointer;" ng-click= "basicInfoCtrl.setEditing(!basicInfoCtrl.isEditing())"></img></p>
					<div class="contentTable">
						<table>
							<form novalidate>
						   		<tbody>
						        	<tr  ng-repeat = "i in [5,6,7,8,9]">
								    	<td class= "leftTableContent"> {{complexInfo.tableHeaders[i].column}} </td> <td ng-hide='basicInfoCtrl.isEditing()&&i!=5'> {{complexInfo.tableContents[0][i]}}</td> <td ng-show = 'basicInfoCtrl.isEditing()&&i!=5'> <input ng-show ='i!=8' type ='text' ng-model="editForm[i]"> </input> <select ng-show="i==8"  ng-model="editForm[i]"><option value ='true'>yes</option> <option value='false'>no</option></select> </td>
						        	</tr>
						        	<tr ng-show = 'basicInfoCtrl.isEditing()'> <td></td> <td style ="text-align:right"> 
						        		<img ng-show="isSending" src="/images/ui-anim_basic.gif">
						        		<input ng-hide="isSending" type ='button'  value = "Send" style="overflow-y:hidden;margin-right:5px;" ng-click = "basicInfoCtrl.send()"> </input> 
						        	</td> <tr>
					    		</tbody>
				    		</form>
						</table>
					</div>
				</div>
				<div class="col-sm-7 info-box">
					<p class="header"> Image <img ng-hide ='isGuest()' src = "img/edit2.png" ng-click='basicInfoCtrl.editImage()' height="18" width="18" style="float: right;cursor:pointer;"></p> 
					<img ng-hide = 'imageEditing' ng-src={{"img/"+complexInfo.attributes[5].value}} class='img-responsive' style='max-height:500px'></img>
					<div ng-show ='imageEditing'>
						<input type ='file' ng-model="editForm[10]" class= 'buttonReports'> </input>
						<button class= 'buttonReports'>Send </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

