<div> 
	<div class="info-box" style='width: 15%'>
		<p class="header"> Building name </p>
		<table class="listTable" ng-show="detailCtrl.isTab(3)">
			<tbody id="list">
				<tr class = 'listRow'><td> <input type="submit" value="Add Building"> </td></tr>
  				<tr class = 'listRow' ng-repeat = "building in buildings" >
    			<td class='text-column' ng-click="buildingsCtrl.selectBuilding($index)">{{building.attributes[0].value}}</td></tr>
			</tbody>
		</table>
	</div>

	<div class = info-box ng-show="buildingsCtrl.isBuildingSelected" style='width: 80%'>
		<h3 style="text-align: center"><a > Basic Information </a> &#8226; Reports </h3> 
		<div class="info-box">
			<p class="header"> General information <img src = "img/edit2.png" height="18" width="18" style="float: right" ng-click= "buildingsCtrl.setEditing(!buildingsCtrl.isEditing())"></img></p>
			<div class="contentTable">
				<table>
					<form novalidate>
				   		<tbody>
				        	<tr ng-repeat = "i in [0,1,2,3,4,5]">
						    	<td class= "leftTableContent"> {{buildings[buildingSelected].attributes[i].displayName}} </td> <td ng-hide='buildingsCtrl.isEditing()&&i!=0'> {{buildings[buildingSelected].attributes[i].value}}</td> <td ng-show = 'buildingsCtrl.isEditing()&&i!=0'> <input type ='text' value = {{buildings[buildingSelected].attributes[i].value}} ng-model="editForm.attributes[i].value"> </input></td>
				        	</tr>
				        	<tr ng-show = 'buildingsCtrl.isEditing()'> <td class= "leftTableContent" ng-show = "buildingsCtrl.showError">Incorrect Data!</td><td style ="text-align:right"> <input type ='button'  value = "Send" style="overflow-y:hidden" ng-click = "buildingsCtrl.send()"> </input> </td> <tr>
			    		</tbody>
					</form>
				</table>
			</div>
		</div>
			<div class="info-box">
				<p class="header"> Image <img src = "img/edit2.png" height="18" width="18" style="float: right"></p> 
				<img ng-src={{"img/"+buildings[buildingSelected].attributes[6].value}} height="230" width="370"></img>
			</div>
		</div>
</div>