<div class="page" id ="mainPage" style="padding-right: 25px">
    <h3><a href="#/list"> {{'add_complex'| translate}} </a>
		&#8226; {{complexInfo.attributes[0].value}}
	    <a title="Help" href=""><i class="fa fa-question-circle"></i></a>

	</h3>
	<br>


<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':false,'ui-tabs-active': false}"><a class="ui-tabs-anchor" ng-click="setTab(1)" style="cursor: pointer">General Information</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':false,'ui-tabs-active': false}"><a class="ui-tabs-anchor" ng-click="setTab(2)" style="cursor: pointer">State</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':true,'ui-tabs-active': true}"><a class="ui-tabs-anchor" style="cursor: pointer">Buildings</a></li>
	</ul>

    <div> 
		<div class="info-box" style='width: 16%'>
			<p class="header"> Building list  <img style= "padding-left:15px; cursor:pointer;" ng-click ="buildingsCtrl.addBuilding()" src ='/images/add.png' ></p>
			<table class="listTable">
				<tbody id="list">
	  				<tr class = 'listRow' ng-repeat = "building in buildings.tableContents" >
	    			<td class='text-column' ng-click="buildingsCtrl.selectBuilding($index)"  ng-hide='buildingSelected == $index'>{{building[5]}}</td>
	    			<td class='text-column' ng-click="buildingsCtrl.selectBuilding($index)" ng-show='buildingSelected == $index'><b>{{building[5]}}</b></td></tr>
				</tbody>
			</table>
		</div>

		<div class = info-box ng-show="isBuildingSelected" style='width: 78%'>
			<h3 style="text-align: center"><a> Basic Information </a> &#8226; Reports </h3> 
			<div class="info-box">
				<p class="header"> General information <img src = "img/edit2.png" height="18" width="18" style="float: right" ng-click= "buildingsCtrl.setEditing(!buildingsCtrl.isEditing())"></img></p>
				<div class="contentTable">
					<table>
						<form novalidate>
					   		<tbody>
					        	<tr ng-repeat = "i in [5,6,7,8,9,10]">
							    	<td class= "leftTableContent"> {{buildings.tableHeaders[i].column}} </td> <td ng-hide='buildingsCtrl.isEditing()'> {{buildings.tableContents[buildingSelected][i]}}</td> <td ng-show = 'buildingsCtrl.isEditing()'> <input type ='text' ng-model="editForm[i]"> </input></td>
					        	</tr>
					        	<tr ng-show = 'buildingsCtrl.isEditing()'> <td class= "leftTableContent" ng-show = "buildingsCtrl.showError">Incorrect Data!</td><td style ="text-align:right"> <input type ='button'  value = "Send" style="overflow-y:hidden" ng-click = "buildingsCtrl.send()"> </input> </td> <tr>
				    		</tbody>
						</form>
					</table>
				</div>
			</div>
			<div class="info-box">
				<p class="header"> Image <img src = "img/edit2.png" height="18" width="18" style="float: right"></p> 
				<img ng-src={{"img/"+buildings[buildingSelected].attributes[6].value}} height="230" width="370"></img>
			</div>
			<input type ='button' value = "Delete building" ng-click="buildingsCtrl.deleteBuilding()"></input>

		</div>
	</div>
</div> 

