<div class="page" id ="mainPage" style="padding-right: 25px" ng-init = 'detailCtrl.init()'>
    <h3><a href="#/list"> {{'add_complex'| translate}} </a>
		&#8226; {{complexInfo.attributes[0].value}}
	    <a title="Help" href=""><i class="fa fa-question-circle"></i></a>

	</h3>
	<br>


<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':detailCtrl.isTab(1),'ui-tabs-active': detailCtrl.isTab(1)}"><a class="ui-tabs-anchor" ng-click="detailCtrl.setTab(1)" style="cursor: pointer">General Information</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':detailCtrl.isTab(2),'ui-tabs-active': detailCtrl.isTab(2)}"><a class="ui-tabs-anchor" ng-click="detailCtrl.setTab(2)" style="cursor: pointer">State</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':detailCtrl.isTab(3),'ui-tabs-active': detailCtrl.isTab(3)}"><a class="ui-tabs-anchor" ng-click="detailCtrl.setTab(3)" style="cursor: pointer">Buildings</a></li>
	</ul>

    <div ng-show="detailCtrl.isTab(1)">
	    		<div class="info-box">
					<p class="header"> General information <img src = "img/edit2.png" height="18" width="18" style="float: right" ng-click= "detailCtrl.setEditing(!detailCtrl.isEditing())"></img></p>
					<div class="contentTable">
						<table>
							<form novalidate>
						   		<tbody>
						        	<tr  ng-repeat = "i in [0,1,2,3,4]">
								    	<td class= "leftTableContent"> {{complexInfo.attributes[i].displayName}} </td> <td ng-hide='detailCtrl.isEditing()&&i!=0'> {{complexInfo.attributes[i].value}}</td> <td ng-show = 'detailCtrl.isEditing()&&i!=0'> <input type ='text' value = {{editForm.attributes[i].value}} ng-model="editForm.attributes[i].value"> </input></td>
						        	</tr>
						        	<tr ng-show = 'detailCtrl.isEditing()'> <td class= "leftTableContent" ng-show = "detailCtrl.showError">Incorrect Data!</td><td style ="text-align:right"> <input type ='button'  value = "Send" style="overflow-y:hidden" ng-click = "detailCtrl.send()"> </input> </td> <tr>
					    		</tbody>
				    		</form>
						</table>
					</div>
				</div>

				<div class="info-box">
					<p class="header"> Image <img src = "img/edit2.png" height="18" width="18" style="float: right"></p> 
					<img ng-src={{"img/"+complexInfo.attributes[5].value}} height="430" width="570"></img>
				</div>
	</div>
	<div ng-show="detailCtrl.isTab(2)">
		<table>
	    <tbody>
	    <tr> <td> <div class="info-box"> <p class="header"> Mostrar reporte :  <select>
				  <option value="1">26 Agosto 2013</option>
				  <option value="2">7 Octubre 2013</option>
				  <option value="3">13 Enero 2014</option>
				  <option value="4">5 Mayo 2014</option> 
				</select> &nbsp &nbsp &nbsp <button> Añadir reporte nuevo </button></p> </div></td></tr>
	    <tr><td>
	    <div>
	    		<div class="info-box">
					<p class="header"> Muro Perimetral </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
				<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
	    		<div class="info-box">
					<p class="header"> Areas de Espera </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
				<div class="info-box">
					<p class="header"> Pavimentacion Exterior </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
		</div>
		</td></tr>
		</tbody>
		</table>
	</div>
	<div ng-show="detailCtrl.isTab(3)">
		<table>
		<tr> <td style = "vertical-align:top">
		<div class="info-box" >
			<p class="header"> Building name </p>
			<table class="listTable" ng-show="detailCtrl.isTab(3)">
	    	<tbody id="list">
	    	<tr class = 'listRow'><td> <input type="submit" value="Add Building"> </td></tr>
	      	<tr class = 'listRow' ng-repeat = "building in detailCtrl.buildings">
	        <td class='text-column'>{{building}}</td>
	      	</tr>
	    	</tbody>
	  		</table>
	  	</div>
	  </td>
	  <td style = "vertical-align:top">
	  	<div class = info-box>
	  		<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
			</div>
				  		<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
			</div>
				  		<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
			</div>
				  		<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
			</div>
				  		<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
			</div>
			

	  	</div>
	  </td></tr></table>
	</div>
</div> 

