<div class="page" id="mainPage" ng-init = 'listCtrl.init()'>
  <h3> {{'add_complex'| translate}} 
  <a title="Help" href=""><i class="fa fa-question-circle"></i></a>
</h3>
  <br>
  <img ng-show ="loadingList" src ='/images/ajax-loader-circle.gif' >
  <table class="listTable" ng-hide = "loadingList">
    <thead>
      <tr>
        <th>{{complexList.tableHeaders[5].column}}</th>
        <th ng-hide = "isGuest()||complexList.tableContents.length==0">{{'actions'| translate}}</th>
      </tr>
    </thead>
    <tbody id="list">
      <tr class = 'listRow' ng-repeat = "urbanization in complexList.tableContents">
        <td class='text-column' ng-click="listCtrl.gotoBasicInfoPanel($index)">{{urbanization[5]}}</td>
        <td ng-hide='complexList.tableContents.length==0 || isGuest()'> <img ng-click ="listCtrl.deleteComplex($index)" src ='/images/delete.png' ></td>
      </tr>
      <tr ng-show ='complexList.tableContents.length==0 && !isComplexOrgunit'> <td> {{'no_complex_list'| translate}} </td></tr>
      <tr ng-show ='isComplexOrgunit && complexList.tableContents.length==0 && !isGuest()'> <td> <button type="button" ng-click='listCtrl.createComplex()'>{{'add_new_complex'| translate}}</button> </td></tr>
    </tbody>
  </table>
</div>
