<div class="page" id ="mainPage" style="padding-right: 25px">
    <h3><a href="#/list"> {{'add_complex'| translate}} </a>
		&#8226; {{complexInfo.attributes[0].value}}
	    <a title="Help" href=""><i class="fa fa-question-circle"></i></a>

	</h3>
	<br>


<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':false,'ui-tabs-active': false}"><a class="ui-tabs-anchor" ng-click="setTab(1)" style="cursor: pointer">General Information</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':true,'ui-tabs-active': true}"><a class="ui-tabs-anchor" style="cursor: pointer">State</a></li>
		<li class="ui-state-default ui-corner-top" ng-class="{'ui-state-active':false,'ui-tabs-active': false}"><a class="ui-tabs-anchor" ng-click="setTab(3)" style="cursor: pointer">Buildings</a></li>
	</ul>
	
	<div>
		<table>
	    <tbody>
	    <tr> <td> <div class="info-box"> <p class="header"> Mostrar reporte :  <select>
				  <option value="1">26 Agosto 2013</option>
				  <option value="2">7 Octubre 2013</option>
				  <option value="3">13 Enero 2014</option>
				  <option value="4">5 Mayo 2014</option> 
				</select> &nbsp &nbsp &nbsp <button> Añadir reporte nuevo </button></p> </div></td></tr>
	    <tr><td>
	    <div>
	    		<div class="info-box">
					<p class="header"> Muro Perimetral </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
				<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
	    		<div class="info-box">
					<p class="header"> Areas de Espera </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
				<div class="info-box">
					<p class="header"> Pavimentacion Exterior </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
								<div class="info-box">
					<p class="header"> Pasajes Cubiertos </p>
					<div class="contentTable">
						<table>
					   		<tbody>
					        	<tr>
							    	<td class = "leftTableContent"> Estado </td> <td> Funcional </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Intervencion </td> <td> Manenimiento de rutina </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Prioridad </td> <td> Baja </td>
					        	</tr>
					        	<tr>
							    	<td class = "leftTableContent"> Comentarios </td> <td> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." </td>
					        	</tr>
				    		</tbody>
						</table>
					</div>
				</div>
		</div>
		</td></tr>
		</tbody>
		</table>
	</div>
</div> 

