<div id="leftBar">
      <div id="leftBarContents">
        <h2>{{'app_title'| translate}}</h2>
        <ul>
            <li><a ng-click = 'leftBarCtrl.setPage(0)'>{{'add_complex'| translate}}</a></li>
            <li><a ng-click = 'leftBarCtrl.setPage(1)'>{{'settings'| translate}}</a></li>
        </ul>
        <br>
        <script type="text/javascript">
            jQuery(document).ready(function(){
              jQuery("#searchIcon").click(function(){
                jQuery("#searchSpan").toggle();
                jQuery("#searchField").focus();
              });
              
              jQuery("#searchField").autocomplete({
                  source: "/dhis-web-commons/ouwt/getOrganisationUnitsByName.action",
                  select: function(event,ui) {
                      jQuery("#searchField").val(ui.item.value);
                      selection.findByName();
                  }
              });
            });
            var i18n_find = '';
        </script>

        <img id="searchIcon" src="/images/search.png" style="cursor: pointer" title="{{'search_org_unit'| translate}}" ng-show= 'curPage ==0'>

        <span id="searchSpan" style="width:100%;display:none;">
          <input type="text" id="searchField" name="key" style="width:160px" />
          <input type="button" value="{{'find'| translate}}" onclick="selection.findByName()" />
        </span>

        <div id="orgUnitTreeContainer" ng-show = 'curPage ==0'>
          <div id="orgUnitTree">
            <ul>
            </ul>
          </div>
          <img id="ouwt_loader" src="/images/ajax-loader-bar.gif"/>
        </div>
      </div>    
</div>